# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ticket_system
DB_SCHEMA=public
DB_ISOLATION_LEVEL="READ COMMITTED" # READ COMMITTED, REPEATABLE READ, SERIALIZABLE

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=10977
REDIS_USER=default
REDIS_PASSWORD=password
